[submodule "benchmark-init"]
	path = lib/benchmark-init
	url = git@github.com:dholm/benchmark-init-el.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "lazy-load"]
	path = lib/lazy-load
	url = git@github.com:manateelazycat/lazy-load.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "modus-themes"]
	path = lib/modus-themes
	url = git@gitlab.com:protesilaos/modus-themes.git
[submodule "one-key"]
	path = lib/one-key
	url = git@github.com:manateelazycat/one-key.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
