[submodule "aggressive-indent"]
	path = lib/aggressive-indent
	url = git@github.com:Malabarba/aggressive-indent-mode.git
[submodule "benchmark-init"]
	path = lib/benchmark-init
	url = git@github.com:dholm/benchmark-init-el.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "chruby"]
	path = lib/chruby
	url = git@github.com:plexus/chruby.el.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-c-headers"]
	path = lib/company-c-headers
	url = git@github.com:randomphrase/company-c-headers.git
[submodule "company-posframe"]
	path = lib/company-posframe
	url = git@github.com:tumashu/company-posframe.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "d-mode"]
	path = lib/d-mode
	url = git@github.com:Emacs-D-Mode-Maintainers/Emacs-D-Mode.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = git@github.com:Fanael/edit-indirect.git
[submodule "eglot"]
	path = lib/eglot
	url = git@github.com:joaotavora/eglot.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "envrc"]
	path = lib/envrc
	url = git@github.com:purcell/envrc.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "eww-lnum"]
	path = lib/eww-lnum
	url = git@github.com:m00natic/eww-lnum.git
[submodule "flymake-childframe"]
	path = lib/flymake-childframe
	url = git@github.com:qdzhang/flymake-childframe.git
[submodule "flymake-quickdef"]
	path = lib/flymake-quickdef
	url = git@github.com:karlotness/flymake-quickdef.git
[submodule "geiser"]
	path = lib/geiser
	url = git@gitlab.com:emacs-geiser/geiser.git
[submodule "geiser-guile"]
	path = lib/geiser-guile
	url = git@gitlab.com:emacs-geiser/guile.git
[submodule "go-mode"]
	path = lib/go-mode
	url = git@github.com:dominikh/go-mode.el.git
[submodule "inf-ruby"]
	path = lib/inf-ruby
	url = git@github.com:nonsequitur/inf-ruby.git
[submodule "inf-sdcv-mode"]
	path = lib/inf-sdcv-mode
	url = git@github.com:qdzhang/inf-sdcv-mode.git
[submodule "inheritenv"]
	path = lib/inheritenv
	url = git@github.com:purcell/inheritenv.git
[submodule "janet-mode"]
	path = lib/janet-mode
	url = git@github.com:ALSchwalm/janet-mode.git
[submodule "jumplist"]
	path = lib/jumplist
	url = git@github.com:ganmacs/jumplist.git
[submodule "lazy-load"]
	path = lib/lazy-load
	url = git@github.com:manateelazycat/lazy-load.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "meson-mode"]
	path = lib/meson-mode
	url = git@github.com:wentasah/meson-mode.git
[submodule "posframe"]
	path = lib/posframe
	url = git@github.com:tumashu/posframe.git
[submodule "quick-insert-unicode"]
	path = lib/quick-insert-unicode
	url = git@github.com:qdzhang/quick-insert-unicode.git
[submodule "racket-mode"]
	path = lib/racket-mode
	url = git@github.com:greghendershott/racket-mode.git
[submodule "raku-mode"]
	path = lib/raku-mode
	url = https://github.com/Raku/raku-mode
[submodule "rg"]
	path = lib/rg
	url = git@github.com:dajva/rg.el.git
[submodule "rime"]
	path = lib/rime
	url = git@github.com:DogLooksGood/emacs-rime.git
[submodule "sdlang-mode"]
	path = lib/sdlang-mode
	url = git@github.com:CyberShadow/sdlang-mode.git
[submodule "selected"]
	path = lib/selected
	url = git@github.com:Kungsgeten/selected.el.git
[submodule "sly"]
	path = lib/sly
	url = git@github.com:joaotavora/sly.git
	ignore = dirty
[submodule "sly-quicklisp"]
	path = lib/sly-quicklisp
	url = git@github.com:joaotavora/sly-quicklisp.git
	ignore = dirty
[submodule "smart-dash"]
	path = lib/smart-dash
	url = git@github.com:malsyned/smart-dash.git
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "sml-mode"]
	path = lib/sml-mode
	url = git@github.com:emacsmirror/sml-mode.git
[submodule "super-save"]
	path = lib/super-save
	url = git@github.com:bbatsov/super-save.git
[submodule "tomato-timer"]
	path = lib/tomato-timer
	url = git@github.com:qdzhang/tomato-timer.git
[submodule "typescript-mode"]
	path = lib/typescript-mode
	url = git@github.com:emacs-typescript/typescript.el.git
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column.git
[submodule "web-mode"]
	path = lib/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "wgrep"]
	path = lib/wgrep
	url = git@github.com:mhayashi1120/Emacs-wgrep.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "pulsar"]
	path = lib/pulsar
	url = https://git.sr.ht/~protesilaos/pulsar
