[submodule "aggressive-indent"]
	path = lib/aggressive-indent
	url = git@github.com:Malabarba/aggressive-indent-mode.git
[submodule "benchmark-init"]
	path = lib/benchmark-init
	url = git@github.com:dholm/benchmark-init-el.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "chruby"]
	path = lib/chruby
	url = git@github.com:plexus/chruby.el.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-c-headers"]
	path = lib/company-c-headers
	url = git@github.com:randomphrase/company-c-headers.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "easy-kill"]
	path = lib/easy-kill
	url = git@github.com:leoliu/easy-kill.git
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = git@github.com:Fanael/edit-indirect.git
[submodule "eglot"]
	path = lib/eglot
	url = git@github.com:joaotavora/eglot.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "god-mode"]
	path = lib/god-mode
	url = git@github.com:emacsorphanage/god-mode.git
[submodule "inf-ruby"]
	path = lib/inf-ruby
	url = git@github.com:nonsequitur/inf-ruby.git
[submodule "janet-mode"]
	path = lib/janet-mode
	url = git@github.com:ALSchwalm/janet-mode.git
[submodule "lazy-load"]
	path = lib/lazy-load
	url = git@github.com:manateelazycat/lazy-load.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "meson-mode"]
	path = lib/meson-mode
	url = git@github.com:wentasah/meson-mode.git
[submodule "one-key"]
	path = lib/one-key
	url = git@github.com:manateelazycat/one-key.git
[submodule "rg"]
	path = lib/rg
	url = git@github.com:dajva/rg.el.git
[submodule "rich-minority"]
	path = lib/rich-minority
	url = git@github.com:Malabarba/rich-minority.git
[submodule "rime"]
	path = lib/rime
	url = git@github.com:DogLooksGood/emacs-rime.git
[submodule "sly"]
	path = lib/sly
	url = git@github.com:joaotavora/sly.git
	ignore = dirty
[submodule "sly-quicklisp"]
	path = lib/sly-quicklisp
	url = git@github.com:joaotavora/sly-quicklisp.git
	ignore = dirty
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "super-save"]
	path = lib/super-save
	url = git@github.com:bbatsov/super-save.git
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column.git
[submodule "web-mode"]
	path = lib/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "wgrep"]
	path = lib/wgrep
	url = git@github.com:mhayashi1120/Emacs-wgrep.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
